In [453]:
import pandas
import matplotlib

%matplotlib inline

In [454]:
titanic = pandas.read_csv("static/titanic.csv")
titanic.head()

,Unnamed: 0,Name,PClass,Age,Sex,Survived,SexCode
0,1,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,2,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,3,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0

In [455]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 7 columns):
Unnamed: 0    1313 non-null int64
Name          1313 non-null object
PClass        1313 non-null object
Age           756 non-null float64
Sex           1313 non-null object
Survived      1313 non-null int64
SexCode       1313 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 71.9+ KB

In [456]:
o_kolika_pasazerech_vime = titanic['Unnamed: 0']
o_kolika_pasazerech_vime.head()

0    1
1    2
2    3
3    4
4    5
Name: Unnamed: 0, dtype: int64

In [457]:
# O kolika pasažérech Titanicu víme?

In [458]:
o_kolika_pasazerech_vime.count()

1313

In [459]:
prezilo_vsech = titanic['Survived']
prezilo_vsech.head()

0    1
1    0
2    0
3    0
4    1
Name: Survived, dtype: int64

In [460]:
soucet_prezivsich = prezilo_vsech[prezilo_vsech > 0].sum()
soucet_prezivsich

450

In [461]:
# Kolik procent jich přežilo?

In [462]:
procento_prezivsich = soucet_prezivsich / (o_kolika_pasazerech_vime.count() / 100)
procento_prezivsich

34.27265803503427

In [463]:
prezilo = titanic[['Sex', 'Survived']]
prezilo.head()

      Sex  Survived
0  female         1
1  female         0
2    male         0
3  female         0
4    male         1

In [464]:
indexed_prezilo = prezilo.set_index('Sex')
indexed_prezilo.head()

        Survived
Sex
female         1
female         0
male           0
female         0
male           1

In [465]:
jen_zeny = indexed_prezilo.loc['female']
jen_zeny

        Survived
Sex
female         1
female         0
female         0
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
female         1
...          ...
female         1
female         1
female         0
female         0
female         1
female         1
female         0
female         0
female         0
female         1
female         0
female         1
female         0
female         0
female         0
female         1
female         1
female         0
female         0
female         1
female         1
female         0
female         0
female         0
female         0
female         0
female         1
female         1
female         0
female         0

[462 rows x 1 columns]

In [466]:
cislo_prezilo_zen = jen_zeny['Survived']
soucet_zen = cislo_prezilo_zen[cislo_prezilo_zen > 0].sum()
soucet_zen

308

In [467]:
# Kolik procent žen přežilo?

In [468]:
procento_zen = soucet_zen / (o_kolika_pasazerech_vime.count() / 100)
procento_zen

23.457730388423457

In [469]:
jen_muzi = indexed_prezilo.loc['male']
cislo_prezilo_muzu = jen_muzi['Survived']
soucet_muzu = cislo_prezilo_muzu[cislo_prezilo_muzu > 0].sum()
soucet_muzu

142

In [470]:
# Kolik procent mužů?

In [471]:
procento_muzu = soucet_muzu / (o_kolika_pasazerech_vime.count() / 100)
procento_muzu

10.814927646610814

In [472]:
trida_pasazeru = titanic[['PClass', 'Survived']]
trida_pasazeru.head()

  PClass  Survived
0    1st         1
1    1st         0
2    1st         0
3    1st         0
4    1st         1

In [473]:
# Pro každou třídu vypište kolik pasažérů dané třídy nastoupilo na loď, kolik jich přežilo, 
# a kolik to dělá procent přeživších.

In [474]:
indexed_pasazeru = trida_pasazeru.set_index('PClass')
jen_1st_nastoupilo = indexed_pasazeru.loc['1st']
cislo_prezilo_1st = jen_1st_nastoupilo['Survived']
soucet__vsech_1st = len(cislo_prezilo_1st)
soucet__vsech_1st

322

In [475]:
prezilo_1st = cislo_prezilo_1st[cislo_prezilo_1st > 0].sum()
prezilo_1st

193

In [476]:
procento_1st  = prezilo_1st / (o_kolika_pasazerech_vime.count() / 100)
procento_1st

14.699162223914698

In [477]:
jen_2nd_nastoupilo = indexed_pasazeru.loc['2nd']
cislo_prezilo_2nd = jen_2nd_nastoupilo['Survived']
soucet__vsech_2nd = len(cislo_prezilo_2nd)
soucet__vsech_2nd

279

In [478]:
prezilo_2nd = cislo_prezilo_2nd[cislo_prezilo_2nd > 0].sum()
prezilo_2nd

119

In [479]:
procento_2nd  = prezilo_2nd / (o_kolika_pasazerech_vime.count() / 100)
procento_2nd

9.063214013709063

In [480]:
jen_3rd_nastoupilo = indexed_pasazeru.loc['3rd']
cislo_prezilo_3rd = jen_3rd_nastoupilo['Survived']
soucet__vsech_3rd = len(cislo_prezilo_3rd)
soucet__vsech_3rd

711

In [481]:
prezilo_3rd = cislo_prezilo_3rd[cislo_prezilo_3rd > 0].sum()
prezilo_3rd

138

In [482]:
procento_3rd = prezilo_3rd / (o_kolika_pasazerech_vime.count() / 100)
procento_3rd

10.51028179741051

In [483]:
#Vykreslete graf procenta přeživších podle dekády věku (t.j. procento pro 0-9 let, 10-19 let, atd.).
#Závisí na sobě třída a věk pasažéra? Jak? Vykreslete graf(y), které tuto závislost znázorňují.